#titulo-h2 {
    color: darkcyan;
}

.fundo-amarelo {
    background: yellow;
}

.texto-vermelho {
    color: red;
}

h2 {
    color: darkviolet;
}

p {
    color: cornflowerblue;
}

h2 {
    color: brown;
}