#titulo-h2 {
    color: brown;
}

.fundo-amarelo {
    background: burlywood;
}

.texto-vermelho {
    color: brown;
}

h2 {
    color: darkviolet;
}

p {
    color: sienna;
}

h2 {
    color: brown;
}